# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
pb_data/
out/

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

/pubspec.lock
**/doc/api/
.dart_tool/
build/

static/
cache/

bin/studio_bundles
pubspec_overrides.yaml
test_data/
pb_public/
public/HymnalVersions.xml

public/admin/
www/public/app/
local/
info/
pb_data/
*_templ.go
templ
assets/csv/
assets/json/
assets/xlsx/
ai/
node_modules/

db/
pocketbase
pb_data/
pb_migrations/
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal
changeset.json
tables.json
